.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 3vh 0;
    border-bottom: 2px solid grey;
}

.link {
    font-weight: bold;

    & a {
        text-decoration: none;
        color: #000;
        display: inline-block;
        transition: all .1s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    a[data-active="true"] {
        color: gray;
    }
}